# Node.js dependencies
node_modules/

# Build output
build/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Environment variable files
.env
.env.local
.env.*.local

# OS and Editor files
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.code-workspace